* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(#F8B195, #F67280, #C06C84, #6C5B7B, #355C7D);
    height: 100vh;
    gap: 56px;
}

.calculator-container {
    background-color: rgb(50, 50, 70);
    border-radius: 24px;
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.screen {
    width: 350px;
    background-color:#355C7D;
    color: white;
    border-radius: 16px;
    text-align: right;
    padding: 24px;
    font-size: 48px;
}

.button-container {
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.button-row {
    display:flex;
    flex: 1;
    gap: 18px;
}

.button {
    height: 100%;
    width: 25%;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex: 1;
}

.number,
.decimal,
.clear,
.percentage {
    background-color: #355C7D;
    color: white;
}

.operator, .evaluate {
    background-color: #F8B195;
}

.button:hover,
.darkened {
    filter: brightness(85%);
    cursor: pointer;
    scale: 1.05;
}

.double {
    flex: 3;
}

.credit,
.credit a {
    color: white;
    font-size: large;
    text-decoration: none;
}



