* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    height: 100vh;
}

.calculator-container {
    background-color: white;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.screen {
    width: 350px;
    background-color: rgb(240, 240, 240);
    border-radius: 16px;
    text-align: right;
    padding: 24px;
    font-size: 48px;
}

.button-container {
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.button-row {
    display:flex;
    flex: 1;
    gap: 12px;
}

.button {
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 25%;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex: 1;
}

.button:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.double {
    flex: 3;
}





